/ {
	
	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
	};

	leds {
		compatible = "gpio-leds";
		station_led_r: red {
			gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
			label = "Red";
		};
		station_led_g: green {
			gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
			label = "Green";
		};
		station_led_b: blue {
			gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
			label = "Blue";
		};
	};	
	gpio_keys {
		compatible = "gpio-keys";
		user_button_up: up {
			label = "up";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
		user_button_down: down {
			label = "down";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
		user_button_left: left {
			label = "left";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
		user_button_right: right {
			label = "right";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
		user_button_middle: middle {
			label = "middle";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};

		station_button: stb {
			label = "station_button";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
	
	};

	enable_nodes {
             compatible = "gpio-leds";
          	enables: en {
                     gpios = <&gpioa 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
		    	 <&gpiob 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>  ;
              };
     	};



};


	
&clk_hse {
	status = "okay";
	clock-frequency = <25000000>;
};

&clk_lse {
	status = "okay";
	clock-frequency = <32784>;
};


&clk_hsi {
	status = "okay";
	clock-frequency = <16000000>;
};

&pll {
	div-m = <25>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};





&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
 	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
	
};


&usart3 {
	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

	
